

<ion-card class="top">
    <ion-card-content>
         <ion-button class="acc"> 
        <ion-icon class="acc"  name="contact" size="large"></ion-icon> 
         </ion-button>
        <ion-button>  
          <ion-icon id="eye" name="eye" size="large"></ion-icon>
         </ion-button>
</ion-card-content>
</ion-card>


<ion-card class="timesh">
  <ion-card-header>
    <ion-card-title id="tshtitle">Time Sheet</ion-card-title>
   
  </ion-card-header>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <br>
  <ion-card-content>


    <ion-list class="lijst">
      <ion-list-header>
        <ion-label>Naam Achternaam</ion-label>
      </ion-list-header>
      <ion-item>Item 1</ion-item>
      <ion-item>Item 2</ion-item>
      <ion-item>Item 3</ion-item>
      <ion-item>Item 4</ion-item>
      <ion-item>Item 5</ion-item>
      <ion-item>Item 5</ion-item>
      <ion-item>Item 5</ion-item>
      <ion-item>Item 5</ion-item>
      <ion-item>Item 5</ion-item>
      <ion-item>Item 5</ion-item>
      <ion-item>Item 5</ion-item>
      <ion-item>Item 5</ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-content></ion-content>
