
.timesh{
    margin: 35px;
    background-color: cadetblue;
    list-style-type: circle;
    
}
#tshtitle{
    color: aliceblue;

}

.top{
    margin-bottom: 2px;
    margin-left: 35px;
    margin-right: 35px;
}

 .acc{
    float: right;
   
}

.top{
    border-style: solid;
    border-color: cadetblue;

}