<ion-header>
  <ion-toolbar>
    <ion-icon name="menu"></ion-icon>
   <ion-icon name="person" style="float:right"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
    
<br>
<br>
    <ion-card>
        <ion-card-header>
          <ion-card-title style="text-align: center">Enter Your timecard</ion-card-title>
        </ion-card-header>
       </ion-card>
      <br>
      <br>
      <br>
      <br>
    <ion-item>
        <ion-input type="Time"></ion-input>
        <ion-input type="Time"></ion-input>
        <ion-input type="Date"></ion-input>
    <ion-item><ion-checkbox></ion-checkbox></ion-item>
      </ion-item>
      



</ion-content>
